<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009080557103-r0cb28siumbttqcgpc7312mevqttmjpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009080557103-r0cb28siumbttqcgpc7312mevqttmjpg</string>
	<key>API_KEY</key>
	<string>AIzaSyDkIqauIeXBCtWDN9iE_9MQMl4GZi-ck74</string>
	<key>GCM_SENDER_ID</key>
	<string>1009080557103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AnswerKey.ProCrast</string>
	<key>PROJECT_ID</key>
	<string>procrast-29eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>procrast-29eaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009080557103:ios:edd13f6ad05f127972f0da</string>
	<key>DATABASE_URL</key>
	<string>https://procrast-29eaf.firebaseio.com</string>
</dict>
</plist>